@using Nop.Core.Domain.Seo
@inject SeoSettings seoSettings

@{
    Layout = "_Root";
    ViewBag.BodyClass = "get-to-know-us";

    //title
    if (!string.IsNullOrEmpty(seoSettings.HomepageTitle))
    {
        NopHtml.AddTitleParts(seoSettings.HomepageTitle);
    }

    //meta
    if (!string.IsNullOrEmpty(seoSettings.HomepageDescription))
    {
        NopHtml.AddMetaDescriptionParts(seoSettings.HomepageDescription);
    }

    //page class
    NopHtml.AppendPageCssClassParts("html-home-page");
}
@section HomePageSlider{
    <div class="slider">
        <img alt="" src="./assets/img/banner/our-solution-banner.png" class="slid-img">
        <div class="overly">
        </div>
        <div class="container">
            <div class="container content-slid">
                <div class="separate-line"></div>
                <h4 class="menu-slider">
                    Solutions for dropdhippers and wholesale purchasing
                </h4>
            </div>
        </div>
    </div>
}
<div class="online-sales">
    <div class="container">
        <h2 class="sec-title text-black text-center">An integral partner for boosting your online sales</h2>
        <div class="sec-desc">
            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="sales">
                        <div class="info-sales">
                            <div class="icons">
                                <img alt="" class="sales-icon" src="./assets/img/sales/categori.png">
                            </div>
                            <h5 class="title text-black font-semibold">Catalogue</h5>
                        </div>
                        <div class="content-sales">
                            <div class="desc">
                                Top brands at competitive prices. We are constantly searching to be the first to offer the latest.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="sales">
                        <div class="info-sales">
                            <div class="icons">
                                <img alt="" class="sales-icon" src="./assets/img/sales/fullfilement.png">
                            </div>
                            <h5 class="title text-black font-semibold">Fulfillment and logistics</h5>
                        </div>
                        <div class="content-sales">
                            <div class="desc">
                                We provide comprehensive storage, picking and packing solutions and competitive ecommerce rates with more than 5 couriers.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="sales">
                        <div class="info-sales">
                            <div class="icons">
                                <img class="sales-icon" src="./assets/img/sales/multi-channel.png">
                            </div>
                            <h5 class="title text-black font-semibold">Multi-channel strategy</h5>
                        </div>
                        <div class="content-sales">
                            <div class="desc">
                                We have extensive experience in simplifying and boosting sales on marketplaces and other online sales channels.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="sales">
                        <div class="info-sales">
                            <div class="icons">
                                <img alt="" class="sales-icon" src="./assets/img/sales/technologie1.png">
                            </div>
                            <h5 class="title text-black font-semibold">Technology</h5>
                        </div>
                        <div class="content-sales">
                            <div class="desc">
                                We are a company with our own technology. We offer an SaaS platform that you can use to centralise your ecommerce operations management.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="sales">
                        <div class="info-sales">
                            <div class="icons">
                                <img alt="" class="sales-icon" src="./assets/img/sales/categori.png">
                            </div>
                            <h5 class="title text-black font-semibold">Catalogue</h5>
                        </div>
                        <div class="content-sales">
                            <div class="desc">
                                Top brands at competitive prices. We are constantly searching to be the first to offer the latest.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="sales">
                        <div class="info-sales">
                            <div class="icons">
                                <img alt="" class="sales-icon" src="./assets/img/sales/fullfilement.png">
                            </div>
                            <h5 class="title text-black font-semibold">Fulfillment and logistics</h5>
                        </div>
                        <div class="content-sales">
                            <div class="desc">
                                We provide comprehensive storage, picking and packing solutions and competitive ecommerce rates with more than 5 couriers.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="sales">
                        <div class="info-sales">
                            <div class="icons">
                                <img alt="" class="sales-icon" src="./assets/img/sales/multi-channel.png">
                            </div>
                            <h5 class="title text-black font-semibold">Multi-channel strategy</h5>
                        </div>
                        <div class="content-sales">
                            <div class="desc">
                                We have extensive experience in simplifying and boosting sales on marketplaces and other online sales channels.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="sales">
                        <div class="info-sales">
                            <div class="icons">
                                <img alt="" class="sales-icon" src="./assets/img/sales/technologie1.png">
                            </div>
                            <h5 class="title text-black font-semibold">Technology</h5>
                        </div>
                        <div class="content-sales">
                            <div class="desc">
                                We are a company with our own technology. We offer an SaaS platform that you can use to centralise your ecommerce operations management.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>