@*
<section class="container deals">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="product-title">
                <div class="head">
                    <div class="title-sec ">
                        <h4 class="text-black text-left">
                            Deals Hot of The Day
                        </h4>
                        <span class="line-after"></span>
                    </div>
                </div>
                <div class="row product-section">
                    <div class="col-md-6">
                        <div class="row img-product">
                            <div class="col-md-3 secon-img">
                                <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/small-product.png">
                                <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/product-light.png">
                            </div>
                            <div class="col-md-9 main-img">
                                <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/product-main.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 product-deals">
                        <div class="product-info">
                            <div class="title-product text-left">Nescafé Black</div>
                            <div class="info-product">
                                <div class="price">
                                    <h3 class="text-left">180 SAR - 250 SAR</h3>
                                </div>
                                <div class="date">
                                    Offre Ends In : <span class="number-days font-medium">28 Days, 19 : 28 : 55</span>
                                </div>
                                <div class="review">
                                    <div class="reviews-star">
                                        <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-yellow.png">
                                        <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-yellow.png">
                                        <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-yellow.png">
                                        <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-yellow.png">
                                        <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-gray.png">
                                    </div>
                                </div>
                                <div class="size">
                                    <span>size : </span>
                                    <span class="lr">Large</span>
                                    <span class="sm">Small</span>
                                </div>
                            </div>
                        </div>

                        <div class="bottom-info-deals">
                            <div class="row">
                                <div class="col-md-6 left-content">
                                    <input type="text" size="20" value="1" id="count">
                                    <span class="input-number-increment"><i class="fas fa-minus" onclick="minus()"></i></span>
                                    <span class="input-number-decrement"><i class="fas fa-solid fa-plus" onclick="plus()"></i></span>
                                </div>
                                <div class="col-md-6 right-content">
                                    <a href="#" class="add-cart"><span class="text-uppercase text-black font-normal">add to cart</span></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 social-media-icon">
                                    <div class="social-media">
                                        <a href="#" target="_blank" class="icon-twitter">
                                            <i class="share-media fab fa-twitter">
                                            </i>
                                        </a>
                                        <a href="#" target="_blank" class="icon-facebook">
                                            <i class="share-media fab fa-facebook-f">
                                            </i>
                                        </a>
                                        <a href="#" target="_blank" class="icon-instagram">
                                            <i class="share-media fab fa-instagram">
                                            </i>
                                        </a>
                                        <a href="#" target="_blank" class="icon-tele">
                                            <i class="share-media fa fa-phone" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-6 wishlist-icon">
                                    <a href="#" class="wishlist">
                                        <i class="fa fa-heart"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 navbar">
            <div class="head">
                <div class="title-sec">
                    <h4 class="text-black text-left">
                        Deals Hot of The Day
                    </h4>
                    <span class="line-after"></span>
                </div>
            </div>
            <div class="row">
                <div class="content-navbar">
                    <div class="img">
                        <img alt="" src="./assets/img/b2b-category/deals-day/best-seller/product1.png">
                    </div>
                    <div class="product-info text-left">
                        <div class="title font-normal">Fresh full fat milk</div>
                        <div class="review">
                            <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-yellow.png">
                            <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-yellow.png">
                            <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-yellow.png">
                            <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-yellow.png">
                            <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-gray.png">
                        </div>
                        <div class="price font-normal text-uppercase">
                            150 sar
                        </div>
                    </div>
                </div>
                <div class="content-navbar">
                    <div class="img">
                        <img alt="" src="./assets/img/b2b-category/deals-day/best-seller/product2.png">
                    </div>
                    <div class="product-info text-left">
                        <div class="title font-normal">Creamy flavored cheese</div>
                        <div class="review">
                            <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-yellow.png">
                            <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-yellow.png">
                            <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-yellow.png">
                            <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-yellow.png">
                            <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-gray.png">
                        </div>
                        <div class="price font-normal text-uppercase">
                            80 sar
                        </div>
                    </div>
                </div>
                <div class="content-navbar">
                    <div class="img">
                        <img alt="" src="./assets/img/b2b-category/deals-day/best-seller/product3.png">
                    </div>
                    <div class="product-info text-left">
                        <div class="title font-normal ">Toast brown bread</div>
                        <div class="review">
                            <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-yellow.png">
                            <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-yellow.png">
                            <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-yellow.png">
                            <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-yellow.png">
                            <img alt="" src="./assets/img/b2b-category/deals-day/product-desc/star-gray.png">
                        </div>
                        <div class="price font-normal text-uppercase">
                            80 sar
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
*@