
<section class="popular-categ">
    <div class="container">
        <div class="head-popular-categ">
            <div class="left-section">
                <h4 class="text-black text-left">most popular categories</h4>
                <h6 class="text-black text-left">Choose your necessary products from this feature categorties</h6>
            </div>
            <div class="right-section">
                <div id="slide-left" class="arrow-prev"><</div>
                <div id="slide-right" class="arrow-next">></div>
            </div>
        </div>

        <div class="content-popular-categ">
            <div class="slide-container">
                <section id="slider">

                    <div class="thumbnail">
                        <img alt="" class="prod-img" src="./assets/img/b2b-category/popular-category/candy.png">
                        <div class="product-details">
                            <div class="name-product font-semibold">
                                Water
                            </div>
                            <div class="price-product font-light">
                                156 products
                            </div>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <img alt="" class="prod-img" src="./assets/img/b2b-category/popular-category/milk.png">
                        <div class="product-details">
                            <div class="name-product font-semibold">
                                Milk
                            </div>
                            <div class="price-product font-light">
                                156 products
                            </div>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <img alt="" class="prod-img" src="./assets/img/b2b-category/popular-category/coffee.png">
                        <div class="product-details">
                            <div class="name-product font-semibold">
                                Coffee
                            </div>
                            <div class="price-product font-light">
                                156 products
                            </div>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <img alt="" class="prod-img" src="./assets/img/b2b-category/popular-category/candy.png">
                        <div class="product-details">
                            <div class="name-product font-semibold">
                                Candy
                            </div>
                            <div class="price-product font-light">
                                156 products
                            </div>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <img alt="" class="prod-img" src="./assets/img/b2b-category/popular-category/cosmetics.png">
                        <div class="product-details">
                            <div class="name-product font-semibold">
                                Cosmetics
                            </div>
                            <div class="price-product font-light">
                                156 products
                            </div>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <img alt="" class="prod-img" src="./assets/img/b2b-category/popular-category/choclate.png">
                        <div class="product-details">
                            <div class="name-product font-semibold">
                                Choclate
                            </div>
                            <div class="price-product font-light">
                                156 products
                            </div>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <img alt="" class="prod-img" src="./assets/img/b2b-category/popular-category/fourniture.png">
                        <div class="product-details">
                            <div class="name-product font-semibold">
                                Fourniture
                            </div>
                            <div class="price-product font-light">
                                156 products
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
