<section class="container services">
    <div class="row">
        <div class="col-md-3 col-sm-6 content-service">
            <img alt="" class="icon-service" src="./assets/img/services/free-shepping.png">
            <div class="desc-service">
                <div class="title font-semibold text-capitalize">
                    free shipping & returns
                </div>
                <p class="font-light">For all orders over 1000 <span class="text-uppercase">SAR</span></p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 content-service">
            <img alt="" class="icon-service" src="./assets/img/services/payement.png">
            <div class="desc-service">
                <div class="title font-semibold text-capitalize">
                    secure payment
                </div>
                <p class="font-light">We ensure secure payment</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 content-service">
            <img alt="" class="icon-service" src="./assets/img/services/money-back.png">
            <div class="desc-service">
                <div class="title font-semibold text-capitalize">
                    monez back guarantee
                </div>
                <p class="font-light">Any back within 30 days</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 content-service">
            <img alt="" class="icon-service" src="./assets/img/services/customer.png">
            <div class="desc-service">
                <div class="title font-semibold text-capitalize">
                    customer support
                </div>
                <p class="font-light">Call or email us 24/7</p>
            </div>
        </div>
    </div>
</section>